body {
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  background-color: antiquewhite;
  margin: 20px;
  box-shadow: 0 0 10px gray;
  padding: 20px;
}

p {
  text-align: center;
  font-size: 1.5em;
}
